/* Lesson 6: setup and Hero Section */

/* Reset and Base Styles */

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    color: #04ff92;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

/* Header Section */

.main-header {
    background-color: #000000c3;
    padding: 0 20px;
}

.main-header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.logo{
    font-size: 20px;
    font-weight: bold;
    color: #ff0000;

}

.main-nav {
    color: #ffffff;
    text-decoration: none;
    margin-left: 30px;
}

.main-nav a {
    color: #04ff92;
    text-decoration: none;
    margin-left: 30px;
    transition: color 0.4s ease;
}

/* Lesson 7: Hover Effects */

.main-nav a:hover {
    color:#63dd37;
    border-bottom: 2px solid #ff0404;
    padding-bottom: 5px;
}

.main-nav a:focus{
    outline: 2px solid #3498db;
    outline-offset: 4px;                
}


/* Hero Section */

.hero{
    background-color: #0aa34c;
    color: #ffffff;
    padding: 100px 0;
    text-align: center;
}

.hero-title{
    font-size: 48px;
    margin-bottom: 24px;
    color: #ffffff;
}

.hero-subtitle{
    font-size: 20px;
    margin-bottom: 20px;
    color: #ffffff;
}

/* Buttons */

.btn{
    padding: 20px 40px;
    font-size: 22px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.btn-primary{
    background-color: #d92607d0;
    color: #ffffff;
}

.btn:hover{
    transform: translateY(-2px);
    opacity: 0.9;
}

.btn:active{
    transform: translateY(0);
}