div{
    width: 100px;
    height: 100px;
    background-color: red;
    position: relative;
    /* animation-name: example;
    animation-duration: 4s; */
    /* animation: moveColor 1s infinite; */
    /* animation: colorTransform 1s infinite; */
    animation: heartbeat 1s infinite;
}

@keyframes example {
    from{background-color: red;}
    to{background-color: yellow;}
}

@keyframes example{
   0%{background-color: red;}
   25%{background-color: yellow;}
   50%{background-color: cornflowerblue;}
   75%{background-color: rgb(21, 21, 22);}
   100%{background-color: darkmagenta;}
}

@keyframes moveColor{
   0%{background-color: red; left:0; top:0 }
   25%{background-color: yellow; left: 150px; top:0}
   50%{background-color: cornflowerblue; left:150px; top: 150px;}
   75%{background-color: rgb(21, 21, 22); left:0; top:150px}
   100%{background-color: darkmagenta; left:0; top:0}
}

@keyframes colorTransform{
   0%{background-color: red; transform: rotate(0deg) scale(1);}
   25%{background-color: yellow; transform: rotate(90deg) scale(1.2);}
   50%{background-color: cornflowerblue; transform: rotate(180deg) scale(1);}
   75%{background-color: rgb(21, 21, 22); transform: rotate(270deg) scale(1.2);}
   100%{background-color: darkmagenta; transform: rotate(3600deg) scale(1);}
}

@keyframes heartbeat{
   0%{ transform:scale(1);}
   25%{ transform:scale(1.5);}
   50%{ transform:scale(1);}
   75%{ transform:scale(1.5);}
   100%{ transform:scale(1);}
}