/* Lesson 6: setup and Hero Section */

/* Reset and Base Styles */

body {
    font-family: 'Arial', sans-serif;
    line-height: 2.7;
    color: #0cff04;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

/* Header Section */

.main-header {
    background-color: #005726;
    padding: 0 20px;
}

.main-header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.logo {
    font-size: 28px;
    font-weight: 700;
    color: #ffffff;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 0.3s ease;
}

/* Lesson 7 Logo Hover */
.logo:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.main-nav {
    color: #ffffff;
    text-decoration: none;
    margin-left: 30px;
}

.main-nav a {
    color: #ffffff;
    text-decoration: none;
    margin-left: 30px;
    transition: color 0.4s ease;
}

/* Lesson 7: Hover Effects */

.main-nav a:hover {
    color: #f39c12;
    border-bottom: 2px solid #ffffff;
    padding-bottom: 5px;
}

.main-nav a:focus {
    outline: 2px solid #cadb34;
    outline-offset: 4px;
}


/* Hero Section */

.hero {
    background-color: #507124;
    color: #ffffff;
    padding: 100px 0;
    text-align: center;
}

.hero-title {
    font-size: 48px;
    margin-bottom: 24px;
    color: #f39c12;
    transition: color 0.3s ease, transform 0.3s ease;
}

.hero-title:hover {
    color: white;
    transform: scale(1.05);
}

.hero-subtitle {
    font-size: 25px;
    margin-bottom: 20px;
    color: #ffffff;
    transition: color 0.3s ease, transform 0.3s ease;
}

.hero-subtitle:hover {
    color: #ffffff;
    transform: scale(1.05);
}

/* Buttons */

.btn {
    padding: 20px 40px;
    font-size: 22px;
    border: none;
    border-radius: 100px;
    cursor: pointer;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.btn-primary {
    background-color: #d92607d0;
    color: #ffffff;
}

.btn:hover {
    transform: translateY(-2px);
    opacity: 0.9;
}

.btn:active {
    transform: translateY(0);
}

.btn:hover {
    transform: translateY(-2px) scale(1.25);
    opacity: 0.9;
}


/* Lesson 8: flex box cards */

.features {
    padding: 80 px;
    background-color: #f8f9fa;
}

.section-title {
    text-align: center;
    font-size: 36px;
    color: #2c3e50;
    margin-bottom: 10px;
}

.section-subtitle {
    text-align: center;
    color: #000000;
    font-size: 20px;
    margin-bottom: 50px;
}

.features-grid {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    flex-flow: row wrap;
}

.feature-card {
    background-color: #ffffff;
    padding: 40px 30px;
    border-radius: 12px;
    box-shadow: 0 5px 15px rgba(0, 0, 0.08);
    flex: 1;
    text-align: center;
}

.feature-card {
    transition: transform 0.3s ease,
        box-shadow 0.3s ease;
}

.feature-card:hover {
    transform: translateY(-10px);
}

.feature-icon {
    font-size: 60px;
    margin-bottom: 20px;
}

.feature-card h3 {
    color: #ffffff;
    margin-bottom: 15px;
}

.feature-card p {
    color: white;
    font-size: 16px;
    line-height: 1.6s;
}

.feature-card:nth-child(1) {
    background: linear-gradient(135deg,
            #0f0946 0%, #101a84 100%);
    color: white;
}

.feature-card:nth-child(1) h3,
.feature-card:nth-child(1) p {
    color: white;
}

.feature-card:nth-child(2) {
    background: linear-gradient(135deg,
            #0f0946 0%, #101a84 100%);
    color: white;
}

.feature-card:nth-child(1) h3,
.feature-card:nth-child(1) p {
    color: white;
}

.feature-card:nth-child(3) {
    background: linear-gradient(135deg,
            #0f0946 0%, #101a84 100%);
    color: white;
}


.feature-card:nth-child(1) h3,
.feature-card:nth-child(1) p {
    color: white;
}

.feature-card:nth-child(4) {
    background: linear-gradient(135deg,
            #0f0946 0%, #101a84 100%);
    color: white;
}

.feature-card:nth-child(1) h3,
.feature-card:nth-child(1) p {
    color: white;
}

.feature-icon {
    font-size: 60px;
    margin-bottom: 20px;
    transition: transform 0.3s ease;
}

.feature-card:hover .feature-icon {
    transform: scale(1.2) rotate(10deg);
}

.feature-card {
    min-width: 280px;
}

.feature-icon {
    font-size: 60px;
    width: 100px;
    height: 100px;
    background-color: #e8f4f8;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto 20px;
}

/* Apply Google Font to entire site */

body {
    font-family: 'Poppins', sans-serif;
    line-height: 1.6;
    color: #333;
}

/* Lesson 9: Typography system */
h1 {
    font-size: 48px;
    font-weight: 700;
    line-height: 1.2;
}

h2 {
    font-size: 36px;
    font-weight: 600;
    line-height: 1.3;
    margin-bottom: 15px
}

h3 {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 10px;
}

p {
    font-size: 18px;
    line-height: 1.8;
    margin-bottom: 15px;
}

.hero {
    background-color: #507124;
    color: white;
    padding: 120px 0;
    text-align: center;
}

.hero-subtitle {
    font-size: 22px;
    margin-bottom: 40px;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
}

.btn {
    padding: 15px 35px;
    font-size: 18px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

/* Typography Scale */

h1 {
    font-size: 40px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 20px;
}

/* Gradient text style */

.hero-title {
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 2);
    /* background: linear-gradient (135deg,  #f34a12, #ffffff, #f34a12);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text; */
}

/* Lesson 10 */
.about {
    padding: 80px 0;
    background-color: #ffffff;
}

.about-content {
    display: flex;
    align-items: center;
    gap: 60px;
}

.about-text {
    flex: 1;
}

.about-image {
    flex: 1;
}

.about-text h2 {
    color: #2c3e50;
    margin-bottom: 25px;
    font-size: 2.2rem;
}

.about-text p{
    color: #555;
    font-size: 1.1rem;
    line-height: 1.8;
    margin-bottom:1.5rem;
}

.about-image img{
    width: 100%;
    border-radius: 12px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.9);
}

.community{
    padding: 80px 0;
    background-color: #ffffff;
}

.community-content{
    display: flex;
    align-items: center;
    gap: 60px;
}